:root {
    --dark-orange:#F8B713;
    --light-orange:#FFCE52;
}
*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    overflow-x:hidden;
    
}

/***********
           Safari Button Reset
                            ***********************/

button {
    color:black;
}
/***********
           Body
                ***********************/
body {
    width:100%;
    background-color:white;
    color:black;
}
/***********
           Input
                ***********************/

.hero-wrapper label {
    display:flex;
    align-items: center;
    gap:0;
    width:max-content !important;
    margin-top:2rem;
    animation:grow-in 1s ease forwards;
    transform:translateY(100%);
    transform-origin:left;
    opacity:0;
    animation-delay:1.25s;
}
@keyframes grow-in {
    to {
        transform:translateY(0);
        transform-origin:left;
        opacity:1;
    }
}
label > input[type="text"] {
    padding-right:50px;
    width:400px;
    height:50px;
    border:3px solid black;
    padding-left:0.5rem;

}
.button {
    margin-left:-50px;
    height:50px;
    padding-inline:2rem;
    background-color:var(--dark-orange);
    color:black;
    font-weight:bold;
    border:none;
    border:3px solid black;
}
/*********************
                    Header & Main
                                ********************/
/* header > * {
    overflow:hidden;
} */

header {
    width:100%;
    position:fixed;
    z-index:1;
    display:flex;
    justify-content: center;
    align-items: center;
}
.header-wrapper {
    width:100%;
    max-width:1440px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 6rem;
}
nav {
    min-width:50%;
}
nav ul {
    display:flex;
    list-style:none;
    justify-content: flex-end;
    gap:4rem;
}
nav ul button {
    padding:0.25rem 1rem;
    font-weight:bold;
    background-color:var(--dark-orange);
    border:2px solid black;
    border-radius:1.5rem;
}
nav ul li {
    display:flex;
    align-items: center;
}
.menu {
    width:50px;
    display:none;
}
@media (max-width:1176px) {
    nav {
        display:none;
    }
    .menu {
        display:block;
    }
}
@media (max-width:864px) {
    .header-wrapper {
        padding-inline:4rem;
    }
}
@media (max-width:501px) {
    .header-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:315px) {
   
    .logo-container img {
        width:150px;
    }
    .menu {
        width:35px;
    }
}

/*Main*/



main {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.hero-wrapper {
    width:100%;
    max-width:1440px;
    padding: 6rem 6rem;
    display:flex;
    align-items: flex-start;
    background-image:url(images/background.png);
    background-position:center;
   
    background-size: cover;
}
.hero-right > img {
    position:absolute;
}
.hero-right > img:nth-of-type(1) {
    top:2%;
    right:4%;
    width:30px;
}
.hero-right > img:nth-of-type(2) {
    bottom:18%;
    left:23%;
    width:75px;
}
.hero-right > img:nth-of-type(3) {
    top:2%;
    left:27%;
    width:100px;
}

.hero-image {
    width:28rem;
    position:static !important;
}

.hero-left,
.hero-right {
    width:50%;
}
.hero-right {
    display:grid;
    place-items: end;
    position:relative;
}
.hero-left h1 {
    font-size:4rem;
    transform:translateY(100%);
    opacity:0;
    animation:grow-in 1s ease forwards;
}
.hero-left p {
    line-height:1.75;
    width:65%;
    transform:translateY(100%);
    opacity:0;
    animation:grow-in 1s ease forwards;
    animation-delay:0.5s;
}
.hero-left {
    padding-block:8rem;
    display:flex;
    flex-direction:column;
    gap:1rem;
}
@media (max-width:1193px) {
    .hero-left label > input[type="text"] {
        width:300px;
        height:50px;
        border:3px solid black;
        padding-left:0.5rem;
    
    }
}
@media (max-width:1169px) {
    .hero-wrapper {
        flex-direction:column;
        align-items: center;
    }
    .hero-right {
        width:100%;
        align-items: center;
        justify-content: center;
        display:none;
    }
    .hero-left {
        align-items: center;
        text-align:center;
        width:100%;
        gap:1.5rem;
    }
    .hero-left h1 {
        font-size:5rem;
    }
    .hero-left label > input[type="text"] {
        width:400px;
        height:50px;
        border:3px solid black;
        padding-left:0.5rem;
    
    }
}
@media (max-width:807px) {
    .hero-left h1 {
        font-size:4rem;
    }
    .hero-left p {
        width:75%;
    }
}
@media (max-width:702px) {
    .hero-left label > input[type="text"] {
        width:300px;
        
    
    }
}
@media (max-width:684px) {
    .hero-wrapper {
        padding-inline:4rem;
    }
}
@media (max-width:618px) {
    .hero-left h1 {
        font-size:3.5rem;
    }
}
@media (max-width:555px) {
    .hero-left h1 {
        font-size:3rem;

    }
    .hero-left p {
        width:100%;
    }
    .hero-left label > input[type="text"] {
        width:250px;
        
    
    }
}
@media (max-width:501px) {
    .hero-wrapper {
        padding-inline:2rem !important;
    }
    .hero-left p {
        font-size:0.8rem;
    }
}
@media (max-width:438px) {
    .hero-left h1 {
        font-size:2.5rem;
    }
    .hero-left label > input[type="text"] {
        width:200px;
        margin-top:2rem;
    }
    
}
@media (max-width:381px) {
    .hero-wrapper {
        padding-inline:1rem !important;
    }
}
@media (max-width:342px) {
    .hero-left h1 {
        font-size:2rem;
    }
    .hero-left p {
        font-size:0.7rem;
    }
    .hero-left label > input[type="text"] {
        width:175px;
        margin-top:2rem;
        height:40px;
    }
    .button {
        height:40px;
    }
    
}
@media (max-width:303px) {
    .hero-left label {
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }
    .button {
        margin:0;
        width:175px;
    }
}

/*******************
                    Second Section
                                ***************************/

.second-section {
    width:100%;
    background-color:var(--dark-orange);
    display:flex;
    align-items: center;
    justify-content: center;
}
.second-section-wrapper {
    width:100%;
    max-width:1440px;
    padding:6rem;
    position:relative;
    display:flex;
    flex-direction:column;
    gap:4rem;
}
.wave {
    position:absolute;
    top:-25%;
    width:100%;
    right:0;
}
.second-section-wrapper h2 {
    font-size:2.5rem;
    text-align:center;
}
.second-section-cards {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
}
.card {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align:center;
    gap:2rem;
}
.card h3 {
    font-size:1.5rem;
}
.card button {
    margin-top:2rem;
    padding:0.5rem 1.25rem;
    border-radius:1.5rem;
    border:2px solid black;
    font-weight:bold;
    background-color:var(--light-orange);
    font-size:1.25rem;
}
.second-section-cards img {
    width:100%;
}
@media (max-width:1146px) {
    .wave {
        top:-20%;
    }
}
@media (max-width:1065px) {
    .second-section-wrapper {
        gap:12rem;
        padding-block:12rem;
    }
    .second-section-cards {
        flex-direction:column;
        gap:12rem;
    }
    .wave {
        top:-5%;
    }
}
@media (max-width:888px) {
    .wave {
        top:-4%;
    }
}
@media (max-width:720px) {
    .wave {
        top:-3.5%;
    }

}
@media (max-width:684px) {
    .second-section-wrapper {
        padding-inline:4rem;
    }
}
@media (max-width:639px) {
    .wave {
        top:-3%;
    }
}
@media (max-width:504px) {
    .second-section-wrapper {
        padding-inline:2rem;
    }
    .wave {
        top:-2.5%;
    }
}
@media (max-width:384px) {
    .second-section-wrapper {
        padding-inline:1rem;
        gap:8rem;
    }
    .wave {
        top:-2%;
    }
    .second-section-wrapper h2 {
        font-size:2rem;
    }
}
@media (max-width:282px) {
    .second-section-wrapper h2 {
        font-size:1.8rem;
    }
}

/********************
                    Products
                            *******************************/

.third-section {
    width:100%;
    background-color:var(--dark-orange);
    display:flex;
    align-items: center;
    justify-content: center;
}
.third-section-wrapper {
    width:100%;
    max-width:1440px;
    padding:6rem;
}
.product-grid {
    display:grid;
    grid-template-columns:1fr 1fr;
    row-gap:12rem;
}
.product-grid img {
    width:70% ;
}

.circle {
    background-color:var(--light-orange);
    height:40rem;
    width:40rem;
    border-radius:100%;
    position:relative;
}
.right {
    display:grid;
    place-items:end;
    position:relative;
    height:100%;
    width:100%;
}
.circle img {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%)
}

.big {
    width:40% !important;
}
.bigone {
    width:50% !important;
}
.left {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: center;
    gap:1.5rem;
    height:100%;
    width:100%;
}
.left h4 {
    font-size:2.5rem;
}
.left > p {
    font-size:1rem;
    line-height:2;
    width:85%;
}
.left button {
    padding:0.75rem 1rem;
    border-radius:2rem;
    border:2px solid black;
    font-weight:bold;
    background-color:var(--light-orange)
}
.move {
    grid-column:1;
    grid-row:2;
}
.swap {
    align-items: end;
    text-align:right;
}
.right > img {
    position:absolute;
    width:100px;
    z-index:2;
}
.right > img:nth-of-type(1) {
    position:absolute;
    width:80px;
    z-index:2;
    top:5%;
    right:10%;
    transform:rotateZ(45deg)
}
.right > img:nth-of-type(2) {
    position:absolute;
    width:100px;
    z-index:2;
    bottom:10%;
    left:10%;
}
.right > img:nth-of-type(3) {
    position:absolute;
    width:50px;
    z-index:2;
    bottom:28%;
    left:-25%;
}
.right.move > img:nth-of-type(1) {
    left:12%;
    transform:rotateZ(35deg);
    width:75px;

}
.right.move > img:nth-of-type(2) {
    left:75%;
   

}
.right.move > img:nth-of-type(3) {
    top:70% !important;
    inset:0;
    left:130% !important;
    z-index:10;
    transform:rotateZ(160deg) !important;

}

.right.next > img:nth-of-type(1) {
    display:none;
}
.right.next > img:nth-of-type(2) {
    top:4%;
    width:125px;
    left:65% !important;
}
@media (max-width:1398px) {
    .product-grid .circle {
        height:35rem;
        width:35rem;
    }
}
@media (max-width:1242px) {
    .third-section-wrapper {
        padding-block:6rem;
        padding-bottom:18rem;
    }
    .product-grid {
        grid-template-columns: 1fr;
        place-items:center;
    }
    .right,
    .left {
        display:grid;
        place-content:center;
        text-align:center;
        place-items:center;

    }
    .left-title {
        display:flex;
        flex-direction:column;
        align-items: center;
    }
    .right-one {
        grid-row:1;
    }
    .left-one {
        grid-row:2;
        grid-column:1;
        
    }
    .right-two {
        grid-row:3;
    }
    .left-two {
        grid-row:4;
    }
    .right-three {
        grid-row:5;
    }
}
@media (max-width:741px) {
    .product-grid .circle {
        height:30rem;
        width:30rem;
    }
   
    
}
@media (max-width:666px) {
    .third-section-wrapper {
        padding-inline:4rem;
    }
}
@media (max-width:597px) {
    .third-section-wrapper {
        padding-inline:2rem;
    }
    .product-grid {
        row-gap:10rem !important;
    }
}
@media (max-width:543px) {
    .product-grid .circle {
        width:26rem;
        height:26rem;
    }
    .product-grid {
        row-gap:8rem !important;
    }
}
@media (max-width:480px) {
    .product-grid .circle {
        height:24rem;
        width:24rem;
    }
}
@media (max-width:438px) {
    .product-grid .circle {
        height:22rem;
        width:22rem;
    }
    .product-grid h4 {
        font-size:2rem;
    }
    .product-grid p {
        font-size:0.8rem;
    }
}
@media (max-width:414px) {
    .third-section-wrapper {
        padding-inline:1rem;
    }
}
@media (max-width:381px) {
    .product-grid .circle {
        height:20rem;
        width:20rem;
    }
}
@media (max-width:345px) {
    .product-grid .circle {
        height:18rem;
        width:18rem;
    }
}
@media (max-width:330px){
    .product-grid h4 {
        font-size:1.75rem;
    }
}
@media (max-width:312px) {
    .product-grid .circle {
        height:15rem;
        width:15rem;
    }
    .product-grid {
        row-gap:8rem !important;
    }
}

/************************
                        About
                            *****************************/

.about-section {
    width:100%;
    background-color:white;
    display:flex;
    justify-content: center;
    align-items: center;
}
.about-wrapper {
    width:100%;
    max-width:1440px;
    padding:8rem 6rem;
    display:flex;
    gap:3rem;
    background-image:url(images/background.png);
    background-position:center;
}
.right-about {
    display:flex;
    align-items: center;
    width:100%;
}
.right-about > img {
    width:max(100%, 30rem) !important;
    align-self:flex-end;
}
.left-about {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    gap:0.5rem;
    width:100%;
}
.left-about h2 {
    font-size:5rem;
}
.left-about > p {
    line-height:1.75;
    width:65%;
}
.left-about button {
    padding:0.75rem 1.5rem;
    border-radius:2rem;
    border:2px solid black;
    background-color:var(--dark-orange);
    font-weight:bold;
    margin-top:1rem;
}
@media (max-width:1215px) {
    .about-section h2 {
        font-size:4rem;
    }
}
@media (max-width:1125px) {
    .about-wrapper {
        flex-direction:column-reverse;
    } 
    .left-about {
        display:grid;
        place-items:center;
        text-align:center;
    }
    .left-about p {
        width:100%;
    }
    .left-about br {
        display:none;
    }
}
@media (max-width:672px) {
    .about-wrapper {
        padding-inline:4rem;
    }
}
@media (max-width:603px) {
    .left-about p {
        width:100%;
    }
    .right-about img {
        width:max(100%, 25rem) !important;
    }
}
@media (max-width:522px) {
    .about-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:450px) {
    .right-about img {
        width:100% !important;
    }
}
@media (max-width:381px) {
    .about-wrapper {
        padding-inline:1rem;
    }
    .left-about h2 {
        font-size:2.75rem;
    }
}
@media (max-width:342px) {
    .left-about p {
        font-size:0.8rem;
    }
}

/*********************
                    Values 
                        **********************/
.values-section {
    width:100%;
    background-color:white;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.values-wrapper {
    width:100%;
    max-width:1440px;
    display:flex;
    padding:6rem;
    align-items: center;
    gap:6rem;
}
.left-values,
.right-values {
    width:50%;
}
.left-values {
    width:40%;
}
.left-values > img {
    width:100%;
}
.right-values {
    display:flex;
    flex-direction:column;
    gap:2rem;
}
.right-values p {
    line-height:1.75;
}
.right-values h2 {
    font-size:6rem;
}
@media (max-width:1125px) {
    .values-wrapper {
        flex-direction:column;
    }
    .left-values img {
        width:100% !important;
        max-width:35rem;
    }
    .left-values {
        width:100%;
        display:grid;
        place-items:center;

    }
    .right-values {
        width:100%;
    }
    .right-values p {
        text-align:center;
        width:100% !important;
    }
    .right-values h2 {
        text-align: center;
    }
}
@media (max-width:685px) {
    .values-wrapper {
        padding-inline:4rem;
    }
}
@media (max-width:556px) {
    .values-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:397px) {
    .right-values h2 {
        font-size:4rem;
    }
}
@media (max-width:361px) {
    .values-wrapper {
        padding-inline:1rem;
    }
    .right-values p {
        font-size:0.8rem;
    }
}
/*************************
                        Final
                            ***************************/

.final-section {
    width:100%;
    background-color:white;
    display:flex;
    justify-content: center;
    align-items: center;
}
.final-section-wrapper {
    width:100%;
    max-width:1440px;
    display:flex;
    gap:0rem;
    padding:6rem;
    align-items: flex-start;
}
.left-final {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    height:100%;
    justify-content: center;
    gap:2rem;
    margin-top:10%;
    width:50%;
    padding-right:6rem;
}
.right-final img {
    /* width:100%; */
}
.right-final {
    width:50%;
    display:grid;
    place-content:end;
}
.left-final > p {
    line-height:1.75;
}
.left-final button {
    padding:0.75rem 2rem;
    border:2px solid black;
    border-radius:2rem;
    font-weight:bold;
    background-color:var(--dark-orange);
}
@media (max-width:1125px) {
    .final-section-wrapper {
        flex-direction:column-reverse;
    }
    .right-final {
        align-self:center;
        width:100%;
        display:grid;
        place-content:center;
    }
    .left-final {
        align-self:center;
        text-align:center;
        padding:0;
        width:100%;
    }
    .left-final button {
        align-self:center;
    }
}
@media (max-width:792px) {
    .right-final img {
        width:100%;
    }
}
@media (max-width:700px) {
    .final-section-wrapper {
        padding-inline:4rem;
    }
}
@media (max-width:558px) {
    .final-section-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:402px) {
    .final-section-wrapper {
        padding-inline:1rem;
    }
    .left-final p {
        font-size:0.8rem;
    }
}
/**************************************
                                        Contact
                                                ****************************/
.contact-section {
    width:100%;
    background-color:var(--dark-orange);
    display:flex;
    justify-content: center;
    align-items: center;
}
.contact-section-wrapper {
    width:100%;
    max-width:1440px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:6rem;
    flex-direction:column;
    gap:12rem;
}
.contact-section .circle {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    gap:2rem;
    position:relative !important;
    
}
.contact-section form {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: center;
    gap:1rem;
}
.contact-section fieldset {
    display:flex;
    flex-direction:column;
    width:100%;
    border:none;
    
}
.contact-section fieldset input {
    width:100%;
    padding:0.5rem;
    border:2px solid black;
}
textarea {
    border:2px solid black;
}
.contact-section label {
    font-weight:500;
}
.contact-section fieldset button {
    padding:0.75rem 1rem;
    font-weight:700;
    background-color:var(--dark-orange);
    border:2px solid black;
    position:relative;
    box-shadow: 0.5rem 0.5rem black;
}
.contact-section input,
textarea {
    box-shadow: 0.5rem 0.5rem black;
}




.contact-section h2 {
    font-size:4rem;
    align-self:flex-start;
    width:100%;
}
.contact-titles {
    display:flex;
    align-items: center;
    gap:6rem;
}
.contact-titles p {
    font-size:1rem;
    line-height: 1.75;
}
.contact-arrow {
    position:absolute;
    top:-10% !important;
    width:50px;
    left:-10% !important;
}
.dots {
    position:absolute;
    left:0 !important;
    width:75px;
    rotate:0.15turn;
    top:75% !important;
}
@media (max-width:1086px) {
    .contact-section h2 {
        font-size:3rem ;
    }
}
@media (max-width:996px) {
    .contact-titles {
        flex-direction:column;
        text-align:center;
        gap:2rem;
    }
}
@media (max-width:687px) {
    .contact-section-wrapper {
        padding-inline:4rem;
    }
}
@media (max-width:516px) {
    .contact-section-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:447px) {
    .contact-section h2 {
        font-size:2.5rem;
    }
}
@media (max-width:390px) {
    .contact-section-wrapper {
        padding-inline:1rem'
    }
    
}
@media (max-width:363px) {
    .contact-titles p {
        font-size:0.9rem;
    }
    .contact-titles h2 {
        font-size:2rem;
    }
}
@media (max-width:301px) {
    .contact-section-wrapper {
        padding-inline:0.5rem;
    }
}

/****** Form ********/
@media (max-width:686px) {
    .contact-section .circle {
        width:30rem;
        height:30rem;
    }
    .contact-section {
        overflow-x:hidden;
    }
}
@media (max-width:517px) {
    .contact-section-wrapper {
        padding-bottom:10rem;
    }
}
@media (max-width:497px) {
    .contact-section .circle {
        width:25rem;
        height:25rem;
    }
}
@media (max-width:401px) {
    .contact-section .circle {
        width:20rem;
        height:20rem;
    }
}
@media (max-width:376px) {
    .contact-section fieldset input,
    textarea {
        width:15rem !important;
    }

}
@media (max-width:329px) {
   
    .contact-section fieldset input,
    textarea {
        width:12rem !important;
    }
    .contact-section label {
        align-self:flex-start;
    }
}

/***********************
                        Footer
                                ***************************/

footer {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.footer-wrapper {
    width:100%;
    max-width:1440px;
    display:flex;
    flex-direction:column;
    gap:4rem;
    padding:6rem;
    background-image:url(images/background.png)
}
.footer-top {
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.footer-bottom {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.footer-top-left {
    display:flex;
    flex-direction:column;
    gap:4rem;
}
.footer-top-left .address {
    display:flex;
    flex-direction:column;
    gap:0.75rem;
}
.footer-top-right {
    height:100%;
}
.footer-top-right ul {
    list-style:none;
    display:flex;
    flex-direction:column;
    gap:0.75rem;
    text-align:right;
    align-items: flex-end;
}
.footer-bottom .small-links {
    display:flex;
    gap:2.5rem;
    font-size:0.75rem;
}
@media (max-width:938px) {
    .footer-bottom {
        flex-direction:column;
        gap:6rem;
    }
}
@media (max-width:764px) {
    footer label > input[type="text"] {
        width:300px;
    }
    .footer-top {
        flex-direction:column;
        text-align:center;
        gap:10rem;
    }
    .footer-top ul {
        align-items:center;
    }
}
@media (max-width:590px) {
    footer label > input[type="text"] {
        width:250px;
    }
    footer ul  {
        gap:1rem;
    }
}
@media (max-width:551px) {
    .footer-wrapper {
        padding-inline:2rem;
    }
    footer label > input[type="text"] {
        width:200px;
    }
  
}
@media (max-width:362px) {
    footer label > input[type="text"] {
        width:100%;
    }
    footer label {
        display:flex;
        flex-direction:column;
    }
    footer label button {
        margin-left:0 !important;
        width:100% !important;
    }
}
@media (max-width:290px) {
    .footer-bottom p {
        text-align:center;
    }
}

a {
    text-decoration:none;
    color:black;
}